*,
*:before,
*:after {
  box-sizing: border-box;
  /* border: 1px dotted red; */
}

body {
  font-family: Verdana, sans-serif;
  text-align: center;
  font-size: 16px;

  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header {
  background: #c3c3c3;
}

h1 {
  padding: 2rem;
  letter-spacing: .3rem;
}

nav {
  margin: 1rem auto;
}

.nav {
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}

.todos {
  width: 40%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
}

.todos h1 {
  font-size: 1.5rem;
  letter-spacing: 0;
  padding: 0;
}

.todos li {
  padding: .5rem;
}
.todos li:nth-child(even) {
  background: yellow;
}
.todos li:hover {
  background: skyblue;
}
.todos li:first-child {
  background: #c3c3c3;
  border-bottom: 1px solid black;
}

.task, .due-date {
  display: inline-block;
}

.due-date {
  float: right;
  margin-right: 2rem;
}